<footer class="site-footer">
  <div class="wrapper footer-custom">

    <div class="footer-name">
      <strong>Aidan G</strong><br>
      Aerospace Engineer
    </div>

    <div class="footer-links">
      <a href="https://github.com/aidangiebel">GitHub</a>
      <span>•</span>
      <a href="https://www.linkedin.com/in/aidan-giebelhausen-7287a821b/">LinkedIn</a>
      <span>•</span>
      <a href="mailto:agiebelh@gmail.com">Email</a>
    </div>

    <div class="footer-copyright">
      © 2026 Aidan G
    </div>

  </div>
</footer>