<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">

      <a href="{{ "/" | relative_url }}">Home</a>

      <div class="dropdown">
        <a href="/projects/">Projects</a>
        <div class="dropdown-content">
          <a href="/projects/avl-xfoil-tool/">AVL + XFOIL Tool</a>
          <a href="/projects/safe-capture/">Safe Capture Research</a>
          <a href="/projects/interceptor-design/">Interceptor Design</a>
          <a href="/projects/cad-cfd/">CAD & CFD Examples</a>
        </div>
      </div>

      <a href="/about/">Resume</a>

    </nav>

  </div>
</header>